/* community #conBox */
/* 홍보 자료 영역 */

#conBox{
	width: 100%; height: auto;
	background-color: #fff;
}

.con_sub_menu{
	width: 100%; height:65px;
	border-bottom: 1px solid #cfcfcf;
}

.con_sub_menu ul{
	width: 100%; max-width: 1024px;
	height: 100%;
	margin: auto;
}

.con_sub_menu li{
	float: left;
	width: 50%; height: 100%;
	text-align: center; font-weight: bold;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.con_sub_menu a{
	display: block;
	width: 100%; height: 100%;
	padding: 20px 0; box-sizing: border-box; 
	border-right: 1px solid #cfcfcf;
}

.con_sub_menu li:last-child a{
	border-right: 0;
}

.con_sub_menu li.action{
	background-color: #00a0c2;
	color:#fff;
}


.con_area{
	width: 100%; max-width: 1024px;
	margin: 100px auto; height: auto;
	padding: 0 10px; box-sizing: border-box;
}

.con_area h3{
	font-size: 3rem;
	margin: 40px 0 20px 0;
}

.con_area p{
	font-size: 1.1rem;
	margin:10px; color: #696969;
}

/* =============================== */

.gallery{
	margin:100px 0;
	width: 100%; height: auto;
}

.list_area{
	width: 100%; height: auto;
}

.list_area div{
	float: left;
	margin: 0 10px;
}

.list_01{
	width: 300px;
	height: 400px;
	background-color: #333;
}

.list_02{
	width: 300px;
	height: 400px;
	background-color: #333;
}

.list_03{
	width: 300px;
	height: 400px;
	background-color: #333;
}
